@charset "utf-8";
body {
    font-family: Philosopher;
}

.info-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 2em;
}

.form-info-line {
    padding: 0.7em;
    display: inline;
    font-size: 1.3em;
}

.card {
    border-style: solid;
    border-radius: 0;
    border-color: #f6b99c;
    background-color: #f6b99c;
}