@charset "utf-8";

/* body */

body {
    background-color: #f8ca9c;
}


/* search bar */

#search-field {
    border-color: #908175;
    border-style: solid;
    border-width: 0.4vh;
}

#search-field:hover {
    border-color: black;
}

.fa-search {
    color: #908175;
}

.fa-search:hover {
    color: black;
}


/* user */

.dropdown:hover .user {
    opacity: 0.5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    margin-top: 80%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* creer liste */

#popup_icon {
    background-color: #f6b99c;
}

#popup_icon:hover {
    opacity: 0.75;
    background-color: #908175;
}

.btn-primary:hover {
    opacity: 0.75;
}

#popup {
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 0%;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 0%;
    padding-bottom: 0%;
}