@charset "utf-8";

.field {
    border-color: #908175;
    border-style: solid;
    border-width: 0.3vh;
}

/*style="background-color: #f88; border-color: #f22; border-style: solid; border-width: 0.3vh;"*/
.is_invalid
{
    background-color: #f88;
    border-color: #f22;
}

/*style="background-color: #f8ca9c; border-color: rgb(0, 180, 48); border-style: solid; border-width: 0.3vh;"*/
.is_valid
{
    background-color: #f8ca9c;
    border-color: rgb(0, 180, 48);
}

.btn-primary:hover {
    opacity: 0.9;
}